@import "../../../styles.scss";


.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
    align-items: center;
    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        color: $text-color
    }
    p {
        font-size: 1.2rem;
        color: $text-color;
        margin: .5rem 0 1.4rem
    }
    a {

        padding: 15px 20px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $text-color;
        background-color: $main-color;
        border-radius: .4rem;
        &:hover {
            background-color: $sub-color;
            transition: 0.2s all linear;
        }
    }
}
.about-img {
    background-color: $main-color;
    border-radius: .8rem;
    box-shadow: $box-shadow;
    margin: .5rem 2rem 1.4rem;
    border: 2px $bg-color solid;
}
