<section class="stock" id="stock">
    <div class="stock-heading">
        <h2>Stock</h2>
    </div>
    <div class="stock-container">
        <div class="stock-row">
            <span class="stock-item stock-header stock-column">ITEM</span>
            <span class="stock-weight stock-header stock-column">WEIGHT</span>
            <span class="stock-quantity stock-header stock-column">QUANTITY</span>
        </div>
        <div class="stock-items">
            <app-stock-item (deleteClicked)="deleteItem($event)"  *ngFor="let item of stock_items" [stock_item]='item'></app-stock-item>
        </div>
        <div class="stock-total">
            <!-- js generated -->
        </div>
    </div>
</section>