<section class="footer">
    <div class="footer-box">
        <h3>MANPAD</h3>
        <p>
            Our goal is to help the Ukrainian military by providing weapons and ammunition, support veterans and
            victims of the war, provide shelter and feed refugees
        </p>
        <div class="social">
            <a href="https://www.facebook.com/profile.php?id=100024593870478" target="_blank"> <i
                    class='bx bxl-facebook' id="facebook-icon"></i></a>
            <a href="https://www.instagram.com/mr_mollan/" target="_blank"> <i class='bx bxl-instagram'
                    id="instagram-icon"></i></a>
            <a href="https://www.linkedin.com/in/vitalii-besliubniak-ab4709236/" target="_blank"> <i
                    class='bx bxl-linkedin' id="linkedin-icon"></i></a>
        </div>
    </div>
    <div class="footer-box">
        <h3>Contact</h3>
        <div class="contact">
            <span><i class='bx bxs-map'></i>27501, Svetlovodsk, Ukraine</span>
            <span><i class='bx bxs-phone'></i>+380 97 4600 711</span>
            <span><i class='bx bxs-envelope'></i>vitalii.besliubniak@gmail.com</span>
        </div>
    </div>

</section>
<div class="copyright">
    <p>&copy;2022 <a href="https://github.com/Vetal0205" target="_blank">Mollan</a> all rights reserved</p>
</div>