<header>
    <a href="#home" class="logo">
        <img src="./assets/img/logo.png" alt="logo" width="60px">
    </a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <ul class="navbar">
        <li><a href="#home" id="home_m">Home</a></li>
        <li><a href="#about" id="about_m">About</a></li>
        <li><a href="#stock" id="stock_m">Stock</a></li>
        <li><a href="#items" id="items_m">Items</a></li>
        <li><a href="#volunteers" id="volunteers_m">volunteers</a></li>
    </ul>
    <div class="header-icons">
        <div class="stock">
            <a href="#stock"><i class='bx bx-cart-alt' id="stock-icon"></i></a>
            <div class="stock-amount" id="stock-amount">0</div>
        </div>
        <i class='bx bx-search' id="search-icon"></i>
    </div>
    <div class="search-box">
        <input type="search" id="search" placeholder="Search Here....">
    </div>
</header>