<section class="about" id="about">
    <div class="about-img">
        <img src="./assets/img/lml.png" alt="about-img">
    </div>
    <div class="about-text">
        <h2>what is MANPAD?</h2>
        <p>
            Man-portable air-defense system (MANPAD) is an anti-aircraft missile complex designed to strike
            helicopters and low-flying enemy aircraft on counter and catch-up courses in conditions
            influence of natural and artificial thermal obstacles.
        </p>
        <!-- <a href="/Labs/lab2/index.html" target="_blank">Learn more</a> -->
    </div>
</section>