<div class="">

  <form class="form-group" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h2>Make PUT request</h2>
    <div class="form-field">
      <mat-form-field>
        <input placeholder="Name" type="text" matInput formControlName="name" required>
        <mat-error *ngIf="f.name?.errors?.required">Input is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input placeholder="Weight" type="number" matInput formControlName="weight" min="1" required>
        <mat-error *ngIf="f.weight?.errors?.required">Input is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input placeholder="Photo" type="text" matInput formControlName="photo" required>
        <mat-error *ngIf="f.photo?.errors?.required">Input is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Connect method</mat-label>
        <mat-select formControlName="hibernate">
          <mat-option [value]="true">JPA</mat-option>
          <mat-option [value]="false">JDBC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <input type="submit" name="submit" value="Make request!" class="btn btn-submit">
  </form>
</div>