<div class="box">
    <img (click)="onSelect(manpad)" src="{{manpad.photo}}" alt="{{manpad.name}}">
    <div class="name-and-del">
        <h3>{{manpad.name}}</h3>
        <button class="btn-del" (click)="deleteClick({manpad:manpad, hibernate:true})">Delete With JPA</button>
        <!-- <button class="btn-del" (click)="deleteClick({manpad:manpad, hibernate:false})">Delete With JDBC</button> -->
    </div>
    <div class="content">
        <span>{{manpad.weight}} kg</span>
        <div class="quantity-box">
            <i class='bx bx-minus' (click)="quantityChangedItemsMinus($event)"></i>
            <input  class="quantity-num" type="text" value="{{inputValue}}" disabled>
            <i class='bx bx-plus' (click)="quantityChangedItemsPlus($event)"></i>
        </div>
        <button class="btn-add" (click)="addToStock(manpad)">add</button>
    </div>
</div>