<section class="weather">
    <div class="weather-heading">
        <h2>Weather API</h2>
    </div>
    <div class="weather-container">
        <div class="notification"> </div>
        <div class="box">
        
            <div class="weather-icon">
                <img src="./assets/img/icons/unknown.png" alt="">
            </div>
            <div class="temperature-value">
                <p>- °<span>C</span></p>
            </div>
            <div class="temperature-description">
                <p> - </p>
            </div>
            <div class="location">
                <p>-</p>
            </div>
        </div>
    </div>
</section>